/* .ApplicationView {
    display: flex;
    justify-content: space-around;
  } */

  body {
    background-color: #765898;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  /* .btn {
      background-color: green;
  } */

  .container {
     
      display: flex;
      flex-direction: column;
      
      color: black;
      justify-content: space-between;
  }

  .header {
    border: 4px solid black;
    padding: 10px;
    margin: 10px;
    background-color: slategray;
    border-radius: 20px;
    color: black;
  }

  .form-group {
      border: 3px solid black;
      border-radius: 10px;
      background-color: slategray;
      margin: 5px;
      padding: 3px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
      
  }

  .form-check {
      border: 3px solid black;
      border-radius: 15px;
      background-color: slategray;
      margin: 5px;
      width: 25%;
      
  }

  .gameForm {
    border: 5px solid black;
    padding: 10px;
    background-color: slategray;
    margin: 40px   ;
    border-radius: 25px;
}

.form-control {
    width: 50%;
}

.library-card {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    background-color: slategray;
    border-radius: 20px;

}

.btn {
    background-color: red;
    color: black;
    border: 1px black solid; 
}

.navbar-brand {
    color: black;
}

.navlink {
    border-left: black solid 1px;
    color: black;
}

.tourney-card {
    border: black solid 5px;
    padding: 10px;
    margin: 10px;
    background-color: slategray;
    border-radius: 20px;
    width: 75%;
    margin-left: 10%;
}

.tourneyName {
    
}

.tourneyGame {
  
}

.tourneyDate {

}